body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height:100vh;
}

#main{
    display: flex;
    gap: 50px;
    flex-direction: column;
}

button{
    width: 100px;
    height: 40px;
}